Return-Path: <m.vavros@silesnet.cz>
Reply-To: m.vavros@silesnet.cz
To: "{{mimeEncode name}}" <{{email}}>
From: "{{mimeEncode "Maryla Vavroš"}}" <m.vavros@silesnet.cz>
Subject: {{mimeEncode "SilesNet - variabilní symbol plateb"}}
Organization: SilesNet s.r.o.
MIME-Version: 1.0
Content-Type: text/html; charset=utf-8
Content-Transfer-Encoding: 8bit

<html>
<head>
<meta http-equiv="Content-Type" content="text/html" ; charset="utf-8" />
  <style>
    body {
      font-family: Arial, Arial, Helvetica, sans-serif;
      line-height: 130%;
    }

    .gray {
      color: #555;
    }
  </style>
</head>

<body>
<p>Dobrý den,</p>
<p>
  obracíme se na Vás s žádostí o pečlivé uvádění <strong>variabilního symbolu</strong> při měsíčních platbách za
  služby. Problématické je neuvádění variabilního symbolu, vepsání starého čísla faktury z předešlých let, IČ,
  čísla smluv staré smlouvy a jiných údajů. Tyto chybné zápisy nám znemožňují automatické přičítání úhrad na Vaše
  faktury.
</p>
<p><strong>Variabilní symbol</strong> můžete použít ve dvou verzích.</p>
<p>
  <strong>První variantou</strong> je vepsání čísla faktury (alias variabilního symbolu) uváděného na fakturách
  pro daný měsíc (každý měsíc se s rostoucí řadou toto číslo mění).
</p>
<p>
  <strong>Druhou možností</strong> pro uživatele <strong>{{name}}</strong> je nastavení čísla smlouvy - tj.
  číslo <strong>{{agreement}}</strong> jako variabilního symbolu pro trvalý příkaz anebo šablonu platby.
</p>
<p>
  Nesprávné vepsání variabilního symblu může vést k chybnému přičtení úhrady mezi klienty (při vysokém počtu
  klientů se np. kombinace jména s příjmením opakuji).
</p>
<p>
  Jestliže jednu z těchto forem zápisu variabilního symbolu již používáte, považujte toto doporučení jako
  doplnění informací.
</p>
<p>
  Děkuji a přeji krásný den<br />
  Maryla Vavroš
</p>
<div class="gray">
  <p>SilesNet s.r.o.</p>
  <p>
    tel.: 558 711 585<br />
    e-mail: m.vavros@silesnet.cz<br />
    e-site: www.silesnet.cz
  </p>
  <p>
    Kancelář:<br />
    Ostravská 584/12<br />
    737 01 Český Těšín
  </p>
</div>
</body>
</html>
